@import url(https://res.cloudinary.com/gbenga19/image/upload/v1592081896/guitar%20logo/guitar%20logo2/background%20guitar/pexels-photo-1656415_p5epkq.jpg;);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    line-height: 1.4;
    scroll-behavior: smooth;
}
main{
    margin-left: 15px;  
}
body{ background-image: url(https://res.cloudinary.com/gbenga19/image/upload/v1592081896/guitar%20logo/guitar%20logo2/background%20guitar/pexels-photo-1656415_p5epkq.jpg;);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%; 
    
}   
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    line-height: 1.4;
    text-align: center;
    display: block;
    padding-right: 20px;
    
}
#main-header{
text-align: center;
display: inline-flex;
margin-left: 0px;
margin-right: 0px;  
color: black;

}
 #main-header, #nav-bar{
 color: black;
 display: block;  
 margin-bottom: 2px;
 font-size: 20px;
 
}
nav :hover{
    color: white;
}

li{
    list-style: none;  
    
}

a{
    text-decoration: none;
    color: lightgreen;
}
 footer > 
a{
    text-decoration: none;
    color: black;
}
header{
    padding-top: 7px;
    position: ;
    top: 0; 
    left: 0;
    width: 100%;
    padding-bottom: 8px; 
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(120, 127, 133, 0.8);
}
h3{
color: yellow; 
font-size: 20px;
text-shadow: 0.1em 0.1em 0.1em #000; 
}
  #about> p{   
    font-size: 22px; 
    color: yellow;
    text-shadow: 0.1em 0.1em 0.1em #000;
    
}
  #enroll> p{  
    font-size: 22px; 
    color: yellow;
    text-shadow: 0.1em 0.1em 0.1em #000;
 
}
     footer>h4{
color: black;
}
 
#mail input  { 
    color: black;
    border: 1px solid black;
    padding: 5px; 
    width: 100%;
    height: 35px;
    font-size: 18px;
}
#mail input {
    width: 100%;
    height: 30px;
    margin: 5px 0; 
    border: 0;
}

.btn{
    padding: 2px 20px;
    height: 30px;
    font-size: 1em;
    font-weight: 900;
    border: none;
    border-radius: 2px;
    background: green;  
    cursor: pointer;
    color: white;   
}
 .btn :hover{
    background: grey;
}
#about{
    
    margin-top: 40px;
    margin-bottom: 27px;  
    font-size: 18px;
    color: black;  
    font-weight: 900; 
    
}
#video {
       margin-top: 40px;
       margin-bottom: 20px;
}

#enroll{
    padding-top: 20px;
    padding-bottom: 17px; 
    font-size: 20px;    
    color: black;
    font-weight: 900;
    
} 
h2{text-transform: uppercase;
    
  color: white;
  font-size: 27px; 
  font-weight: bolder;
  text-shadow: 0.1em 0.1em 0.1em #000;
  background-color: black;
}   
#price{
    width: 100%;  
    font-size: 20px;
    margin-top: 50px;
    display: flex;
    flex-wrap: no-wrap;  
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15px;
    align-items: center;
    color: darkgreen;   
    font-weight: 900;   
   text-shadow: 0.1em 0.1em 0.1em 0.1em #000; 
}
.guitar-type{ 
    background-color:rgba(120, 127, 133, 0.7);
    color: lightgreen; 
    display: flex;
    flex-direction: column; 
    flex-wrap: no-wrap;
    align-items: justify;
    width: 70%;  
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
    padding-bottom: 15px;
}
.acoustic{
    background-color: green;
    font-size: 23px; 
    width: 100%;
    color: black;  
    
}
.icon{
    padding-right: 8px;
    font-size: xx-large; 
    
}

footer{
    background-color: rgba(120, 127, 133, 0.8);
    margin-top: 60px;
    margin-right: -25px;
    margin-left: -25px;  
    padding-bottom: 6px;
    color: black;
    font-size: 20px;
     
}
@media (min-width: 320px) { 
  body {
    background-image: url(https://res.cloudinary.com/gbenga19/image/upload/v1592081896/guitar%20logo/guitar%20logo2/background%20guitar/pexels-photo-1656415_p5epkq.jpg;);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% auto;
    max-width: 100%;
    max-height: auto;  
      
     
   
  }    
}
 
@media (max-width: 768px) {   
  body {
    background-image: url(https://res.cloudinary.com/gbenga19/image/upload/v1592081896/guitar%20logo/guitar%20logo2/background%20guitar/pexels-photo-1656415_p5epkq.jpg;);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% auto;   
    max-width: 100%;
    max-height: auto;    
  } 
        
        
}      
     
