@import url(https://res.cloudinary.com/gbenga19/image/upload/v1592081896/guitar%20logo/guitar%20logo2/background%20guitar/pexels-photo-1656415_p5epkq.jpg;);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin-left: 15px; 
}
body{ background-image: url(https://res.cloudinary.com/gbenga19/image/upload/v1592081896/guitar%20logo/guitar%20logo2/background%20guitar/pexels-photo-1656415_p5epkq.jpg;);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%; 
    
} 
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    line-height: 1.4;
    text-align: center;
    display: block;
    color: white;
    padding-right: 20px;
    
}
#main-header{
text-align: center;
display: inline-flex;
margin-left: 30px;
margin-right: 10px; 

}
nav{
 text-align: center;
 display: block;
 margin-bottom: 8px;
}
nav :hover{
    color: yellowgreen;
}

li{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: white;
}
header{
    padding-top: 7px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    justify-content: space-around;
    align-items: center;
    background-color:rgba(120, 127, 133, 0.8);
}
#learn{
    position: relative;
    margin-top: 220px;
    padding-bottom: 6px;
    z-index: -2;
    color: black;
}
 

#mail input  {
    color: white;
    border: none;
    padding: 5px; 
    width: 100%;
    height: 30px;
}
#mail input {
    width: 100%;
    height: 30px;
    margin: 5px 0;
    border: 0;
}

.btn{
    padding: 2px 20px;
    height: 30px;
    font-size: 1em;
    font-weight: 900;
    border: none;
    border-radius: 2px;
    background: green; 
    cursor: pointer;
    color: white; 
}
 .btn :hover{
    background: pink;
}
#about{
    padding-bottom: 7px;  
    font-size: 18px;
    color: #FF1493;  
    font-weight: 900; 
}
#enroll{
    padding-bottom: 7px;
    font-size: 18px;    
    color: #FF1493;
    font-weight: 900;
} 
h2{
  color: black; 
  font-size: 27px; 
  font-weight: bolder;
} 
#price{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15px;
    align-items: center;
    color: white;  
    font-weight: 900;
}
.guitar-type{ 
    background-color:rgba(120, 127, 133, 0.7);
    color: white; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 70%;  
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
    padding-bottom: 10px;
}
.acoustic{
    background-color: green;
    font-size: 23px; 
    width: 100%;
    color: white; 
    
}
.icon{
    padding-right: 8px;
    font-size: xx-large; 
    color: white;
}

footer{
    background-color: rgba(120, 127, 133, 0.8);
    margin-top: 60px;
    margin-right: -25px;
    margin-left: -25px;  
    padding-bottom: 6px;
    
}
/*@media (min-width: 320px) {
  body {
    background-image: url(https://res.cloudinary.com/gbenga19/image/upload/v1592081896/guitar%20logo/guitar%20logo2/background%20guitar/pexels-photo-1656415_p5epkq.jpg;);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%; 
    max-height: auto;
  }    
}*/ 

@media (max-width: 768px) {
  body {
    background-image: url(https://res.cloudinary.com/gbenga19/image/upload/v1592081896/guitar%20logo/guitar%20logo2/background%20guitar/pexels-photo-1656415_p5epkq.jpg;);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;   
    max-width: 100%; 
    max-height: auto;
  } 
  
nav{
 text-align: center;
 display: grid;
 margin-bottom: 8px;
}
} 
